/*
 * StyleSheet - TiagoPat
 * StyleSheet with main layout of all pages
 */
/*
 * --- main colors ---
 * marine: #323C48
 * cyan: #61DED0
 */

/* nao funciona
.bg{
  background-image: url("./img/ricepaper.png");
}*/

a {
  text-decoration: none;
  margin-right: 8px;
}

h1, h2, h3, h4, h5, h6, p, table {
  color: #323C48;
}

.bg-top {
  background-color: #323C48;
  border-bottom: #61DED0 solid 4px;
  height: 100px;
  margin-bottom: 30px;
}
.bg-bottom {
  background-color: #323C48;
  border-top: #61DED0 solid 4px;
  height: 60px;
}
.center, .centralize {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0px;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.25;
}

.name {
  display: inline-block;
}

.name h1, .name p {
  color: #61DED0;
}

.menu {
  display: inline-block;
  float: right;
  color: #61DED0;
  font-size: 22px;
  margin-top: 25px;
}
a.nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#61DED0;
  border-style: solid;
  border-width: thin;
  border-radius: 14px;
  border-color: #61DED0;
  padding-left: 8px;
  padding-right: 8px;
}

a.nav:hover, a.nav:focus, a.active {
  color: white;
  border-color: white;
}

p.center {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  color: #61DED0;
}

img.logos{
  width: 25px;
  height: 25px;
}
footer {
  text-align: center;
  margin-top: 30px;
}
.footer{
  color: #61DED0;
  display: inline-block;
  margin-top: 8px;
}
.clear {
  clear: both;
}

#mail {
  color: #61DED0;
}

/*
 *
 * Specific
 *
*/

img {
  display: inline-block;
}

.resume {
  position: relative;
  top: 70px;
  float: right;
  width: 50%;
}
.resume p {
  margin-top: 10px;
  line-height: 25px;
}
.top-section h1, h2 {
  color: #61DED0;
  background-color: #323C48;
  border-bottom: 2px solid #61DED0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10px;
}
#perfil {
  width: 45%;
  margin: 15px;
  float: left;
}

section {
  color: #2a323c;
  clear: both;
}

.left {
  float: left;
  width: 49%;
}
.right {
  float: right;
  width: 49%;
}

.overview {
  margin-top: 110px;
}

.overview p {
  line-height: 1.6;
  margin-top: 10px;
}

.middleContainer {
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

.subContainer {
  margin-top: 30px;
}

.subContainer li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  border: thin solid #323C48;
  border-radius: 14px;
  padding: 0 8px;
  line-height: 1.2;
}

.subContainer li:hover {
  background-color: #323C48;
  color: white;
}

.inline {
  display: inline;
}

.inline li {
  display: inline-block;
}

input, textarea {
  background-color: #323C48;
  border-color: #61DED0;
  border-radius: 5px;
  color: #61DED0;
  margin-top: 10px;
}

#messageBox {
  width: 70%;
  height: 150px;
}

::placeholder {
  color: #61DED0;
}

.table th {
  color: #61DED0;
  background-color: #323C48;
  border-bottom: 2px solid #61DED0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10px;
}

.table tr:nth-child(odd) {
  background: rgba(133, 132, 132, 0.3)
}

table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bold {
  font-weight: bold;
}
